# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Virtual env
# ========================
.venv/
venv/
env/

# ========================
# Build
# ========================
*.egg-info/
dist/
build/

# ========================
# Data (НЕ КОММИТИМ)
# ========================
data/raw/
data/interim/
data/processed/

# ========================
# Large files
# ========================
*.parquet
*.zip
*.sqlite
*.db

# ========================
# Logs
# ========================
*.log

# ========================
# Env
# ========================
.env

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db